<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>NanumSquareNeoOTF-Bd.otf</string>
		<string>NanumSquareNeoOTF-Eb.otf</string>
		<string>NanumSquareNeoOTF-Hv.otf</string>
		<string>NanumSquareNeoOTF-Lt.otf</string>
		<string>NanumSquareNeoOTF-Rg.otf</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>이 앱은 현재 위치 기반으로 대기질 정보를 제공합니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>이 앱은 현재 위치 기반으로 대기질 정보를 제공합니다.</string>
</dict>
</plist>
